.ProjectTable {
    height: calc(100vh - 72px);
    padding: 40px 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__base {
        height: 100%;
    }
}

.ActionBlock {
    display: flex;
    gap: 10px;
}