.CashboxListMain {
    width: 50%;
}

.CashboxList {
    height: 100%;
    display: flex;

    &__body {
        width: 100%;
        padding-bottom: 74px;
    }
}
.ActionBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.SearchInput {
    width: 250px;
}

.CashboxesBlock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.CashboxesTree {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__item {
        width: 100%;
    }

    &__link {
        cursor: pointer;
        padding: 0;
    }
}